/* Berty theme for Datenstrom Yellow, https://gitlab.com/b-erhart/berty-theme-for-datenstrom-yellow

/* Variables */
:root {
    --primary-color: #1976d2;
    --secondary-color: #ff6584;
    --bg-color: #ffffff;
    --secondary-bg-color: #e0e0e0;
    --text-color: #000000;
    --secondary-text-color: #777777;
}

/* Fonts */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url(berty-roboto-regular.woff) format("woff");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url(berty-roboto-bold.woff) format("woff");
}
@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 400;
    src: url(berty-roboto-italic.woff) format("woff");
}
@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 700;
    src: url(berty-roboto-bold_italic.woff) format("woff");
}
@font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: 400;
    src: url(berty-jetbrains_mono-regular.woff2) format("woff2");
}
@font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: 700;
    src: url(berty-jetbrains_mono-bold.woff2) format("woff2");
}
@font-face {
    font-family: "JetBrains Mono";
    font-style: italic;
    font-weight: 400;
    src: url(berty-jetbrains_mono-italic.woff2) format("woff2");
}
@font-face {
    font-family: "JetBrains Mono";
    font-style: italic;
    font-weight: 700;
    src: url(berty-jetbrains_mono-bold-italic.woff2) format("woff2");
}

/* General */
html, body, div, form, pre, span, tr, th, td, img {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
body {
    margin: 1em;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.6;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}
h1 {
    font-size: 2em;
    font-weight: 600;
}
hr {
    height: 3px;
    background: var(--secondary-bg-color);
    border: 0;
}
strong {
    font-weight: 600;
}

code {
    font-size: 1.1em;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}
a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

/* Content */

.content h1 a {
    color: var(--primary-text-color);
}
.content h1 a:hover {
    color: var(--primary-text-color);
    text-decoration: none;
}
.content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1.5em auto;
}
.content form {
    margin: 1em 0;
}
.content table {
    border-spacing: 0;
    border-collapse: collapse;
}
.content pre {
    overflow: auto;
}
.content .notice1 {
    margin: 1em 0;
    padding: 0.1em 1em;
    background-color: #fffbf0;
    border-left: 4px solid #fb0;
}
.content .notice2 {
    margin: 1em 0;
    padding: 0.1em 1em;
    background-color: #fdf0f0;
    border-left: 4px solid #d00;
}
.content .notice3 {
    margin: 1em 0;
    padding: 0.1em 1em;
    background-color: #f9fef0;
    border-left: 4px solid #9e0;
}
.content .notice4,
.content .notice5,
.content .notice6 {
    margin: 1em 0;
    padding: 0.1em 1em;
    background-color: #f0f8fe;
    border-left: 4px solid #08e;
}
.content .flexible {
    position: relative;
    padding-top: 0;
    padding-bottom: 56.25%;
}
.content .flexible iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.content .task-list-item {
    list-style-type: none;
}
.content .task-list-item input {
    margin: 0 0.2em 0.25em -1.75em;
    vertical-align: middle;
}
.content .toc {
    margin: 0;
    padding: 0;
    list-style: none;
}
.content .entry-links .previous {
    margin: 0 0.5em 0 0.5em;
}
.content .entry-links .next {
    margin: 0 0.5em 0 0.5em;
}
.content .pagination .previous {
    margin: 0 0.5em 0 0.5em;
}
.content .pagination .next {
    margin: 0 0.5em 0 0.5em;
}
.content .pagination {
    text-align: center;
    margin: 1em 0;
}
.content .left {
    float: left;
    margin: 0 1em 0 0;
}
.content .center {
    display: block;
    margin: 0 auto;
}
.content .right {
    float: right;
    margin: 0 0 0 1em;
}
.content .rounded {
    border-radius: 4px;
}
.content .tag-information .entry-meta {
    font-style: italic;
    color: var(--secondary-text-color);
    margin: 1em 0 2em;
}
.content .tag-information .entry-meta a {
    color: var(--secondary-color);
}
.content .tag-information .entry-meta a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}
.content .tag-information hr {
    margin: 3em 0 3em;
}

/* Header */

.header {
    margin: 1em 0 2.5em;
}

.header .sitename {
    display: block;
    float: left;
}

.header .sitename h1 {
    margin: 0;
    font-size: 2em;
    font-weight: 400;
}

.header .sitename h1 a {
    color: var(--primary-text-color);
    text-decoration: none;
}

.header .sitename p {
    margin-top: 0;
    color: var(--primary-text-color);
    font-weight: 500;
}

/* Navigation */

.navigation {
    display: block;
    float: right;
    margin-top: 1.1em;
    font-weight: 600;
}

.navigation a {
    color: var(--primary-color);
    text-decoration: none;
    padding: 0 0.3em;
}

.navigation a:hover {
    text-decoration: underline;
}

.navigation ul {
    margin: 0 -0.3em;
    padding: 0;
    list-style: none;
}

.navigation li {
    display: inline;
}

.navigation li a.active {
    color: var(--text-color);
}

.navigation li a.active:hover {
    text-decoration: underline;
}

.navigation-banner {
    clear: both;
}

/* Footer */

.footer {
    margin-top: 4em;
}
.footer p {
    color: var(--secondary-text-color);
    font-size: 0.75em;
    text-align: center;
}
.footer .siteinfo a {
    color: var(--primary-color);
}
.footer .siteinfo a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

/* Reengineered from GitHub */

.content {
    margin: 1em 0;
}
.content tt,
.content code,
.content pre {
    font-family: "JetBrains Mono", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.9em;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    color: var(--primary-text-color);
}
.content a {
    color: var(--primary-color);
}
.content a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}
.content {
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
}
.content .absent {
    color: var(--secondary-text-color);
}
.content .anchor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    padding-right: 6px;
    padding-left: 30px;
    margin-left: -30px;
}
.content .anchor:focus {
    outline: none;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    position: relative;
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}
.content h1 .octicon-link,
.content h2 .octicon-link,
.content h3 .octicon-link,
.content h4 .octicon-link,
.content h5 .octicon-link,
.content h6 .octicon-link {
    display: none;
    color: var(--primary-text-color);
    vertical-align: middle;
}
.content h1:hover .anchor,
.content h2:hover .anchor,
.content h3:hover .anchor,
.content h4:hover .anchor,
.content h5:hover .anchor,
.content h6:hover .anchor {
    height: 1em;
    padding-left: 8px;
    margin-left: -30px;
    line-height: 1;
    text-decoration: none;
}
.content h1:hover .anchor .octicon-link,
.content h2:hover .anchor .octicon-link,
.content h3:hover .anchor .octicon-link,
.content h4:hover .anchor .octicon-link,
.content h5:hover .anchor .octicon-link,
.content h6:hover .anchor .octicon-link {
    display: inline-block;
}
.content h1 tt,
.content h1 code,
.content h2 tt,
.content h2 code,
.content h3 tt,
.content h3 code,
.content h4 tt,
.content h4 code,
.content h5 tt,
.content h5 code,
.content h6 tt,
.content h6 code {
    font-size: inherit;
}
.content h1 {
    padding-bottom: 0.3em;
    font-size: 2em;
}
.content h2 {
    padding-bottom: 0.3em;
    font-size: 1.5em;
}
.content h3 {
    font-size: 1.25em;
}
.content h4 {
    font-size: 1em;
}
.content h5 {
    font-size: 0.875em;
}
.content h6 {
    font-size: 85em;
    color: var(--secondary-text-color);
}
.content p,
.content blockquote,
.content ul,
.content ol,
.content dl,
.content table,
.content pre {
    margin-top: 16px;
    margin-bottom: 16px;
}
.content hr {
    height: 1px;
    padding: 0;
    margin: 16px 0;
    background-color: var(--secondary-bg-color);
    border: 0 none;
}
.content ul,
.content ol {
    padding-left: 2em;
}
.content ul.no-list,
.content ol.no-list {
    padding: 0;
    list-style-type: none;
}
.content ul ul,
.content ul ol,
.content ol ol,
.content ol ul {
    margin-top: 0;
    margin-bottom: 0;
}
.content dl {
    padding: 0;
}
.content dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
}
.content dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
}
.content blockquote {
    padding: 0 15px;
    color: var(--secondary-text-color);
    border-left: 4px solid var(--secondary-bg-color);
}
.content blockquote > :first-child {
    margin-top: 0;
}
.content blockquote > :last-child {
    margin-bottom: 0;
}
.content table th {
    font-weight: bold;
}
.content table th,
.content table td {
    padding: 6px 13px;
    border: 1px solid var(--secondary-text-color);
}
.content table tr {
    background-color: var(--bg-color);
    border-top: 1px solid var(--secondary-text-color);
}
.content table tr:nth-child(2n) {
    background-color: var(--secondary-bg-color);
}
.content img {
    max-width: 100%;
    box-sizing: content-box;
    background-color: var(--bg-color);
}
.content span.frame {
    display: block;
    overflow: hidden;
}
.content span.frame > span {
    display: block;
    float: left;
    width: auto;
    padding: 7px;
    margin: 13px 0 0;
    overflow: hidden;
    border: 1px solid var(--secondary-bg-color);
}
.content span.frame span img {
    display: block;
    float: left;
}
.content span.frame span span {
    display: block;
    padding: 5px 0 0;
    clear: both;
    color: var(--secondary-text-color);
}
.content span.align-center {
    display: block;
    overflow: hidden;
    clear: both;
}
.content span.align-center > span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: center;
}
.content span.align-center span img {
    margin: 0 auto;
    text-align: center;
}
.content span.align-right {
    display: block;
    overflow: hidden;
    clear: both;
}
.content span.align-right > span {
    display: block;
    margin: 13px 0 0;
    overflow: hidden;
    text-align: right;
}
.content span.align-right span img {
    margin: 0;
    text-align: right;
}
.content span.float-left {
    display: block;
    float: left;
    margin-right: 13px;
    overflow: hidden;
}
.content span.float-left span {
    margin: 13px 0 0;
}
.content span.float-right {
    display: block;
    float: right;
    margin-left: 13px;
    overflow: hidden;
}
.content span.float-right > span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: right;
}
.content code,
.content tt {
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    background-color: #f6f8fa;
    border-radius: 3px;
}
.content code:before,
.content code:after,
.content tt:before,
.content tt:after {
    letter-spacing: -0.2em;
    content: "\00a0";
}
.content code br,
.content tt br {
    display: none;
}
.content del code {
    text-decoration: inherit;
    vertical-align: text-top;
}
.content pre > code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}
.content .highlight pre,
.content pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
}
.content pre {
    word-wrap: normal;
}
.content pre code,
.content pre tt {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}
.content pre code:before,
.content pre code:after,
.content pre tt:before,
.content pre tt:after {
    content: normal;
}


/* Forms and buttons */

.form-control {
    margin: 0;
    padding: 4px 4px;
    display: inline-block;
    min-width: 7em;
    background-color: var(--bg-color);
    color: var(--scondary-text-color);
    background-image: linear-gradient(to bottom, var(--bg-color), var(--bg-color));
    border: 1px solid var(--secondary-bg-color);
    border-radius: 4px;
    font-size: 0.9em;
    font-family: inherit;
    font-weight: normal;
    line-height: normal;
}
.btn {
    margin: 0;
    padding: 4px 22px;
    display: inline-block;
    min-width: 7em;
    background-color: #eaeaea;
    color: var(--secondary-text-color);
    background-image: linear-gradient(to bottom, #f8f8f8, #e1e1e1);
    border: 1px solid #bbb;
    border-color: #c1c1c1 #c1c1c1 #aaaaaa;
    border-radius: 4px;
    outline-offset: -2px;
    font-size: 0.9em;
    font-family: inherit;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
}
.btn:hover,
.btn:focus,
.btn:active {
    color: var(--secondary-text-color);
    background-image: none;
    text-decoration: none;
}
.btn:active {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsive and print */

.page {
    margin: 0 auto;
    max-width: 980px;
}
.yellow-bar {
    margin: 0 auto;
    padding: 0.9em 0;
    max-width: 980px;
}
.yellow-dropdown a:hover,
.yellow-toolbar a:hover {
    background-color: #48d;
    border-color: #48d;
}
.yellow-toolbar .yellow-toolbar-btn-edit {
    background-color: #59e;
    border-color: #59e;
    color: #fff;
}
.yellow-toolbar .yellow-toolbar-btn-create {
    background-color: #59e;
    border-color: #59e;
    color: #fff;
}

@media screen and (min-width: 57em) {
    body {
        width: 55em;
        margin: 1em auto;
    }
}
@media screen and (max-width: 32em) {
    body {
        margin: 0.9em;
        font-size: 0.9em;
    }
    .content {
        margin: 0.5em 0;
        font-size: 1em;
    }
    .header .sitename h1,
    .content h1,
    .content h2,
    .content h3 {
        font-size: 1.4em;
    }
    .header .sitename h1,
    .page {
        margin: 0;
        padding: 0;
        border: 0;
    }
}
@media print {
    .page {
        border: none !important;
    }
}
